<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="minimum-scale=1.0, initial-scale=1, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="Matias Carrasco Kind & Weixiang Yu">
<title>DES Cutouts Services</title>
<link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
<link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

<script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="/static/elements/elements-built.html">
<style is="custom-style" include="shared-styles"></style>
</head>
<body unresolved>
<template is="dom-bind" id="app">

<paper-drawer-panel id="paperDrawerPanel"  >

<!-- Sidebar -->
<paper-scroll-header-panel drawer fixed>
    <des-sidebar></des-sidebar>
</paper-scroll-header-panel>
<!-- Sidebar -->

<!-- Main page -->
<paper-scroll-header-panel main id="headerPanelMain" fixed>
    <des-mainpages></des-mainpages>
</paper-scroll-header-panel>
<!-- Main page -->

</paper-drawer-panel>

</template>
  <script src="/static/scripts/app.js"></script>
</body>
</html>
